In [37]:
import os
import pickle

import pandas as pd
from fastapi import FastAPI

from pydantic import BaseModel, Field
import numpy as np
from starter.ml.model import  train_model, inference, compute_model_metrics
from starter.ml.data import process_data

In [97]:
# Load models and encoder
with open("./model/model.pkl", "rb") as file:
    model = pickle.load(file)

with open("./model/encoder.pkl", "rb") as file:
    encoder = pickle.load(file)

with open("./model/label_binarizer.pkl", "rb") as file:
    lb = pickle.load(file)

In [98]:
model

RandomForestClassifier(max_depth=25)

In [99]:
categorical_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

In [100]:
df_data = pd.DataFrame({
        "age": 49,
        "workclass": "Private",
        "fnlgt": 187454,
        "education": "HS-grad",
        "education-num": 9,
        "marital-status": "Married-civ-spouse",
        "occupation": "Sales",
        "relationship": "Husband",
        "race": "White",
        "sex": "Male",
        "capital-gain": 99999,
        "capital-loss": 0,
        "hours-per-week": 65,
        "native-country": "United-States"
        "Salary": 0
    }, index = [0])

In [101]:
df_data

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,49,Private,187454,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,99999,0,65,United-States

In [102]:
X, _, _, _ = process_data(
    df_data,
    categorical_features=categorical_features,
    label=None,
    training=False,
    encoder=encoder,
    lb=lb,
)

In [103]:
X.shape

(1, 108)

In [93]:
y = np.array([])
X_categorical = df_data[categorical_features].values
X_numerical = df_data.drop(*[categorical_features], axis=1)

In [78]:
X_categorical = encoder.transform(X_categorical)

In [79]:
X_numerical.shape

(1, 6)

In [84]:
X_categorical.shape

(1, 8)

In [88]:
X_categorical

array([['Private', 'HS-grad', 'Married-civ-spouse', 'Sales', 'Husband',
        'White', 'Male', 'United-States']], dtype=object)

In [91]:
X_categorical.shape

(1, 8)

In [105]:
import numpy as np
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder
import pickle

encoder = OneHotEncoder(sparse=False, handle_unknown="ignore")
lb = LabelBinarizer()
X_categorical = encoder.fit_transform(X_categorical)

In [74]:
X_categorical.shape

(1, 8)

In [75]:
X_categorical

array([[1., 1., 1., 1., 1., 1., 1., 1.]])

In [86]:
df_data[categorical_features]

,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,Private,HS-grad,Married-civ-spouse,Sales,Husband,White,Male,United-States